a {
    color: #000;
    text-decoration: none;
}
a, select, .submit {
    cursor: pointer;
}
a:hover {
    color: #0601fe;
}
body {
    background-color: #f5f6fa;
    height: 100vh;
    margin: 0;
}
nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: fixed;
    padding: 10px 10% 10px 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.logo {
    height: 50px;
    width: 50px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
main {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.form-group {
    margin: 10px 0 10px  0;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px 20px;
}

footer {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer h3,
footer p {
    margin: inherit;
}
